.imglogo{
 
    margin-top: 20%;
    margin-left: 0;
 
}

.loWJVv.active{
    color:rgb(209, 13, 13) !important;
}

.loWJVv {
    color:rgb(209, 13, 13) !important;
    text-decoration: none !important;
}
.loWJVv:hover{
    color:rgb(173, 147, 0) !important;
}