.headersecondpage{
    background-color: white;
height:1200%;
text-align: center;
z-index: -20;


}


    
    


.tsparticles-canvas-el{
    height: 1200% !important;
    
}



.center {

width: 10%;
height: 70px;
position: absolute;
top: 38%;
left: 50%;
margin: -35px 0 0 -35px;
   
    }
